@tailwind base;
@tailwind components;
@tailwind utilities;


#app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

html,
body {
    @apply text-default;
}

@screen md {

    html,
    body {
        @apply text-md;
    }
}

@screen lg {

    html,
    body {
        @apply text-lg;
    }
}

body {
    @apply font-body;
    @apply leading-relaxed;
    @apply text-body-m;
}

/*general*/

b,
strong {
    @apply font-bold;
}

p,
ul {
    @apply mb-8;
}

iframe {
    @apply w-full;
}

.content {
    min-height: calc(100vh - 409.187px);
    flex: 1;
}

.section {
    @apply py-8;
}

.section--contact p {
    @apply leading-loose;
}

@screen sm {
    .section {
        @apply py-12;
    }
}

@screen md {
    .section {
        @apply py-16;
    }
}

@screen lg {
    .section {
        @apply py-32;
    }
}

.section--newsletter {
    @apply bg-gray-5;
    @apply py-[48px];
}

.section--newsletter h2 {
    @apply mb-3;
}

.section--newsletter h3 {
    @apply font-normal;
    @apply mb-4;
}

.section--newsletter #email {
    width: min(320px, 100vw);
    display: block;
}

.wysiwyg-content ul,
.wysiwyg-content ol {
    @apply pl-8;
    @apply mb-8;
}

.wysiwyg-content ul {
    @apply list-disc;
}

.wysiwyg-content ol {
    @apply list-decimal;
}

.wysiwyg-content img {
    @apply  !w-full;
    @apply  !h-auto;
}

.wysiwyg-content a,
.wysiwyg-content a:hover {
    @apply underline;
}

.reading-content {
    @apply max-w-[102.4rem];
    @apply mx-auto;
    @apply mb-32;
}

.footer {
    @apply bg-black;
    @apply text-white;
}

.footer ul li {
    @apply mb-4;
}

.footer-bottom {
    @apply py-5;
    @apply bg-gray-80;
    @apply text-center;
}

.h1 {
    @apply font-bold;
    @apply mb-16;
}

.h2 {
    @apply font-bold;
    @apply mb-8;
}

.h3 {
    @apply font-bold;
    @apply mb-8;
}

.h4 {
    @apply font-bold;
    @apply mb-8;
}

.h5 {
    @apply font-bold;
    @apply mb-8;
}

.button {
    @apply block;
    @apply py-4;
    @apply px-8;
    @apply text-center;
    @apply font-bold;
    @apply w-full;
    @apply text-subheading-m;
}

.button.border {
    @apply border-2;
}

.button--primary {
    @apply bg-primary;
    @apply text-white;
    @apply transition-all;
}

.button--ghost {
    @apply bg-white;
    @apply border;
    @apply border-black;
    @apply text-black;
}

.button--primary:hover {
    background-color: #2445CD;
}

.button--secondary {
    background-color: #2445CD;
}

.button--secondary:hover {
    @apply bg-primary;
}

.button--inline {
    @apply inline-block;
    @apply w-auto;
}

@screen md {
    .md\:button--inline {
        @apply inline-block;
        @apply w-auto;
    }
}

.button--lg {
    @apply py-8;
    @apply px-16;
}

.button--sm {
    @apply py-2;
    @apply px-4;
}

.alert {
    @apply text-center;
    @apply py-4;
    @apply text-white;
}

.alert--danger {
    @apply bg-danger;
}

.alert--primary {
    @apply bg-primary;
}

.alert--success {
    @apply bg-success;
}

.cart-steps {
    @apply bg-grey;
    @apply py-8;
}

.cart-step {
    @apply text-center;
    @apply px-8;
    @apply w-full;
    @apply font-bold;
    @apply text-subheading-m;
    @apply text-gray-100;
    @apply relative;
}

.cart-step:not(:first-child)::after {
    content: "";
    @apply absolute;
    left: calc(-50% + 20px);
    @apply top-[20px];
    width: calc(100% - 40px);
    @apply h-[2px];
    @apply bg-gray-100;
    @apply opacity-25;
}

.cart-step > div {
    @apply opacity-25;
}

.cart-step--active >div {
    @apply opacity-100;
    @apply text-primary;
}

.cart-step--active::after {
    @apply !bg-primary;
    @apply !opacity-100;
}

@screen lg {
    .cart-step {
        @apply w-1/3;
    }
}

.cart-step--number {
    @apply w-[40px];
    @apply h-[40px];
    @apply rounded-full;
    @apply border-2;
    @apply flex;
    @apply items-center;
    @apply justify-center;
    @apply mx-auto;
    @apply mb-4;
    @apply bg-gray-5;
}

/*top nav*/

.top-nav {
    @apply bg-gray-80;
    @apply py-4;
    @apply text-subheading-xs;
    @apply text-right;
    @apply hidden;
}

@screen md {
    .top-nav {
        @apply block;
    }
}

.top-nav--item {
    @apply pr-4;
    @apply text-white;
}

.top-nav--item:hover {
    @apply underline;
}

.top-nav--item:last-child {
    @apply pr-0;
}

.top-nav--icon {
    @apply inline;
    @apply mr-2;
    @apply relative;
    @apply top-[-1px];
}

.top-nav--flag {
    @apply inline;
}

.top-nav--menu {
    @apply mb-0;
    @apply hidden;
}

@screen md {
    .top-nav--menu {
        @apply block;
    }
}

.top-nav--menu li {
    @apply mr-10;
    @apply inline-block;
    @apply text-white;
    @apply font-bold;
    @apply transition-all;
}


.top-nav--menu li:hover {
    @apply text-gray-50;
}

/*main nav*/

.main-nav {
    @apply py-3;
    @apply bg-gray-100;
    @apply relative;
}

@screen -sm {
    .main-nav {
        @apply py-6;
        min-height: 51px;
        @apply flex;
        @apply items-center;
    }

    .main-nav--logo {
        @apply absolute;
        @apply left-[50%];
        @apply transform;
        @apply -translate-x-1/2;
    }

    .main-nav--logo img {
        @apply w-16;
    }
}

.main-nav--menu {
    @apply mb-0;
}

.main-nav--menu li {
    @apply relative;
    @apply inline-block;
    @apply mr-16;
}

.main-nav--menu li a:hover {
    @apply text-gray-50;
}

.main-nav--menu li:last-child {
    @apply mr-0;
}

.main-nav--menu li a {
    @apply text-white;
    @apply text-subheading-s;
    @apply font-medium;
    @apply transition-all;
}

.main-nav--mobile {
    @apply bg-white;
    @apply fixed;
    @apply top-0;
    @apply left-[-100%];
    @apply w-full;
    @apply h-full;
    @apply invisible;
    @apply overflow-y-auto;
    @apply opacity-0;
    @apply z-20;
    @apply transition-all;
    @apply duration-300;
}

.main-nav--mobile.is-open {
    @apply visible;
    @apply left-0;
    @apply right-auto;
    @apply opacity-100;
}

.main-nav__flyout {
    @apply absolute;
    @apply bottom-0;
    @apply bg-white;
    @apply p-10;
    @apply shadow-md;
    @apply z-10;
    transform: translateY(100%) translateX(-2.5rem);
}

.main-nav__flyout--big {
    @apply left-0;
    @apply w-full;
}

.main-nav__flyout--link {
    @apply transition-all;
}

.main-nav__flyout--link:hover {
    @apply text-gray-50;
}

.main-nav__flyout--menu {
    @apply mb-0;
}

.main-nav__flyout--menu li:first-child {
    @apply mt-8;
}

.main-nav__flyout--menu li:not(:last-child) {
    @apply mb-6;
}

.filter-form-body {
    max-height: 80vh;
    overflow-y: auto;
}

@screen -sm {
    #filter-bar {
        @apply bg-secondary;
        @apply fixed;
        @apply top-0;
        @apply left-[-250px];
        @apply w-[250px];
        height: 100%;
        @apply invisible;
        @apply overflow-y-auto;
        @apply opacity-0;
        @apply z-20;
        @apply shadow-lg;
        @apply transition-all;
        @apply duration-300;
        @apply bg-gray-5;
        @apply z-20;
        @apply flex;
        @apply flex-col;
    }

    #filter-bar.is-open {
        @apply visible;
        @apply left-0;
        @apply opacity-100;
    }

    #filter-bar form>* {
        @apply p-8;
    }

    #filter-form {
        @apply flex;
        @apply flex-col;
        @apply h-full;
        @apply gap-2
    }

    .filter-form-body {
        @apply overflow-y-auto;
        min-height: 0;
    }

    .filter-form-footer {
        @apply mt-auto;
        @apply pt-8;
        @apply border-t;
        @apply border-white;
    }
}

.overlay {
    @apply hidden;
    @apply opacity-0;
    @apply bg-black;
}

.is-open+.overlay {
    @apply block;
    @apply fixed;
    @apply top-0;
    @apply left-0;
    @apply w-full;
    @apply h-full;
    @apply opacity-50;
    @apply z-10;
}

/*flash news*/
.flash-news {
    @apply bg-secondary;
    @apply py-4;
    @apply font-bold;
    @apply text-center;
}

/*homepage*/

.big-banner {
    @apply bg-cover;
    @apply bg-center;
    @apply flex;
    @apply flex-col;
    @apply justify-center;
    @apply items-start;
    @apply py-32;
    object-fit: cover;
    background-image: var(--bg-image);
    @apply text-white;

    aspect-ratio: 16 / 9;
}

@screen md {
    .big-banner {
        @apply h-[50vh];
        @apply min-h-[480px];
        aspect-ratio: revert;
    }
}

/*shop*/

/*categories*/

.category-container {
    @apply grid;
    @apply grid-cols-1;
    @apply gap-4;
}

@screen md {
    .category-container {
        @apply grid-cols-4;
        @apply gap-8;
    }
}

.category-box {
    @apply flex;
    @apply items-center;
    @apply h-full;
    @apply bg-gray-5;
    @apply transition-all;
    @apply rounded;
    @apply p-4;
}

@screen md {
    .category-box {
        @apply p-6;
    }
}

.category-box:hover {
    @apply bg-gray-10;
}

.category-box--image {
    @apply h-[72px];
}

.category-box--image img,
.category-box--image svg {
    @apply w-[72px];
    @apply h-full;
    @apply object-contain;
}

.category-box--name {
    @apply font-bold;
    @apply ml-6;
}

.category-list {
    @apply my-8;
    @apply relative;
    @apply overflow-hidden;
}

.category-list--container {
    @apply flex;
    @apply gap-4;
    @apply transition-all;
}

@screen md {
    .category-list--container {
        @apply gap-8;
    }
}

.category-list--container>div {
    @apply p-4;
}

.category-list--item {
    @apply bg-white;
    @apply font-bold;
    @apply py-6;
    @apply px-8;
    @apply text-center;
    @apply flex-shrink-0;
}

.category-list--item {

}

@screen md {
    .category-list--item {
        @apply text-left;
        @apply flex;
        @apply items-center;
        @apply py-6;
        @apply pl-6;
        @apply pr-32;
        @apply flex-shrink-0;
    }
}

.category-list--arrow-left,
.category-list--arrow-right {
    @apply absolute;
    @apply top-1/2;
    @apply transform;
    transform: translateY(-50%);
    @apply z-10;
    @apply h-full;
    @apply bg-white;
    @apply border;
    @apply border-gray-10;
    @apply rounded;
    @apply flex;
    @apply items-center;
    @apply justify-center;
    @apply cursor-pointer;
    @apply transition-all;
}

@screen -sm {
    width: 3rem;
}

@screen md {
    .category-list--arrow-left,
    .category-list--arrow-right {
        aspect-ratio: 1;
    }
}

.category-list--arrow-left:hover,
.category-list--arrow-right:hover {
    @apply bg-gray-5;
}

.category-list--arrow-left {
    @apply left-0;
}

.category-list--arrow-right {
    @apply right-0;
}

.category-list--container[data-page="0"]~.category-list--arrow-left {
    @apply opacity-0;
    @apply pointer-events-none;
}

.category-list--container[data-last-page="true"]~.category-list--arrow-right {
    @apply opacity-0;
    @apply pointer-events-none;
}

.category-list--item.active {
    @apply font-bold;
}

.category-list--item:hover {
    @apply bg-grey;
}

.category-list--item img {
    @apply w-[70px];
    @apply h-[70px];
    @apply object-cover;
}

@screen md {
    .category-list--item img {
        @apply w-[50px];
        @apply h-[50px];
        @apply mr-8;
    }
}

/*products*/

.product-container {
    @apply w-full;
    @apply grid;

    grid-template-columns: 1fr 1fr;
    @apply gap-x-4;
    @apply gap-y-8;
}

@screen md {
    .product-container {
        @apply grid-cols-3;
        @apply gap-x-8;
        @apply gap-y-20;
    }

    .product-container--homepage {
        @apply grid-cols-4;
    }
}

.product-box {
    @apply flex;
    @apply flex-col;
}

@screen md {
    .product-box:hover .product-box--cta {
        @apply opacity-100;
    }
}

.product-box--image {
    @apply w-full;
    @apply mb-6;
    @apply relative;
    @apply border;
    @apply border-gray-5;
    @apply rounded-lg;
    @apply h-0;
    @apply pb-[100%];
}

.product-box--image img {
    @apply absolute;
    @apply top-0;
    @apply left-0;
    @apply w-full;
    @apply h-full;
    @apply object-contain;
}
.product-box--sold-out .product-box--image img {
    @apply opacity-50;
}

.product-box--name {
    @apply mb-2;
    @apply text-body-m;
}

.product-box--price {
    @apply font-bold;
    @apply flex;
    @apply items-center;
    @apply flex-row;
    @apply mb-0;
}

.product-box--price-old {
    @apply font-light;
    @apply line-through;
    @apply mx-4;
}

.product-box--cta {
    @apply absolute;
    @apply bottom-4;
    @apply right-4;
    @apply left-4;
    @apply inline;
    @apply opacity-0;
    @apply transition-all;
    @apply rounded-lg;
    @apply pointer-events-none;
    width: initial;
    @apply z-20;
}

.product-box--badge {
    @apply absolute;
    @apply bottom-4;
    @apply left-4;
    @apply z-10;

    @apply rounded-md;
    @apply text-body-xs;

    @apply px-3;
    @apply py-1;

    color: var(--badge-font-color, white);
    background-color: var(--badge-background-color, #25282B);
}

/* product detail */

.product-detail--info {
    @apply mb-8;
}

.product-detail--info ul {
    list-style: initial;
    @apply pl-8;
}

.product-detail--price {
    @apply mb-8;
    @apply flex;
    @apply items-center;
}

.product-detail--price-old {
    @apply line-through;
    @apply mx-4;
}

.product-detail--separator {
    @apply w-full;
    @apply h-[1px];
    @apply bg-grey;
    @apply my-10;
}

.product-detail--tabs {
    max-width: 880px;
    margin: 0 auto;
}

.product-detail--badge {
    @apply font-bold;
    @apply rounded-xl;
    @apply inline;

    @apply px-4;
    @apply py-2;
    @apply ml-6;
    @apply leading-none;

    color: var(--badge-font-color);
    background-color: var(--badge-background-color);
}

.product-detail--labels {
    @apply flex;
    @apply flex-col;
    @apply gap-y-4;
}

.product-detail--label {
    @apply flex;
    @apply items-center;
    @apply gap-x-4;
    @apply font-bold;
}

/* blog */

.post-item a {
    @apply text-secondary;
}

/* breadcrumbs */

.breadcrumbs {
    @apply py-4;
    @apply mb-1;
    @apply text-body-xs;
    @apply border-b;
    @apply border-grey;
    @apply bg-gray-5;
    @apply border;
}

.breadcrumbs--item {
    @apply mr-2;
}

.breadcrumbs--item:last-child {
    @apply mr-0;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.breadcrumbs--item a:hover {
    @apply underline;
}

/* vue slider */

.vue-slider-process,
.vue-slider-dot-tooltip-inner {
    @apply  !bg-primary-80;
    @apply  !border-primary;
}

.vue-slider-dot-handle {
    box-shadow: none;
    @apply border;
    @apply border-primary;
    @apply border-2;
}

.vue-slider-rail {
    @apply  !bg-primary-10;
}

/* search */

#search-wrapper {
    @apply bg-white;
    @apply w-screen;
    @apply h-0;
    @apply fixed;
    @apply top-0;
    @apply left-0;
    @apply z-10;
    @apply flex;
    @apply items-center;
    @apply overflow-hidden;
    @apply transition-height;
    @apply duration-300;
}

#search-wrapper.opened {
    @apply h-screen;
}

/* forms */

.form--input {
    @apply w-full;
    @apply border;
    @apply border-grey;
    @apply p-4;
    @apply rounded-lg;
}

.form--input:focus {
    @apply outline-none;
}

/* mini cart */

#mini-cart-wrapper {
    @apply fixed;
    @apply top-0;
    @apply left-0;
    @apply w-0;
    @apply h-screen;
    @apply bg-transparent;
    @apply z-20;
}

#mini-cart-wrapper.is-open {
    @apply w-full;
}

#mini-cart-wrapper.is-open #mini-cart {
    @apply visible;
    @apply left-auto;
    @apply right-0;
    @apply opacity-100;
}

#mini-cart {
    @apply bg-white;
    @apply fixed;
    @apply top-0;
    @apply right-[-300px];
    @apply w-[300px];
    @apply h-full;
    @apply invisible;
    @apply overflow-y-auto;
    @apply opacity-0;
    @apply z-30;
    @apply p-16;
    @apply shadow-lg;
    @apply transition-all;
    @apply duration-300;
}

@screen lg {
    #mini-cart {
        @apply right-[-440px];
        @apply w-[440px];
    }
}

#order-loading-wrapper {
    @apply w-screen;
    @apply h-screen;
    @apply hidden;
    @apply items-center;
    @apply justify-center;
    @apply z-40;
    @apply fixed;
    @apply top-0;
    @apply left-0;
    @apply bg-primary;
    @apply bg-opacity-75;
    @apply text-white;
    @apply flex-col;
    @apply text-center;
}

.list-item {
    @apply bg-grey flex items-start p-4 mb-4;
}

.list-item--radio {
    @apply mr-4 mt-2;
}

.list-item--label {
    @apply flex justify-between w-full -mx-2 items-center;
}

.list-item--label---column {
    @apply px-2;
}

.checkout-form--label {
    @apply mb-2;
    @apply block;
    @apply mt-8;
}

.checkout-form--input {
    @apply w-full;
    @apply border;
    @apply border-grey;
    @apply p-4;
}

.collapse {
    display: none
}

.collapse.show {
    display: block
}

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    transition: height .35s ease
}

.bg-gray-5 {
    @apply bg-gray-5;
}

.promo-section {
    @apply grid;
    @apply grid-cols-1;
    @apply gap-6;
    @apply mx-auto;
    @apply m-6;
    @apply text-center;
}

@screen md {
    .promo-section {
        @apply grid-cols-2;
    }

    .promo-section--big {
        @apply grid-cols-1;
    }
}

.promo-section>div {
    @apply flex;
    @apply flex-col;
    @apply items-center;
    @apply p-12;
    @apply bg-contain;
    @apply bg-no-repeat;
    @apply bg-center;
    aspect-ratio: 1;
    background-image: var(--bg-image);
}

.promo-section--big>div {
    @apply bg-left-bottom;
    @apply pt-10;
}

@screen md {
    .promo-section--big>div {
        @apply pt-40;
        aspect-ratio: 1440 / 720;
    }
}

@screen md {
    .promo-section>div {
        @apply p-28;
    }
}

.promo-section h2 {
    @apply mb-8;
}

.aspect-square {
    aspect-ratio: 1;
}

.checkbox {
    @apply inline-block;
}

input[type="checkbox"] {
    @apply w-10;
    @apply h-10;
    @apply rounded-lg;
    @apply appearance-none;
    @apply border;
    @apply border-2;
    @apply border-gray-40;
}

input[type="checkbox"]:checked {
    @apply bg-primary;
    @apply border-primary;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE5Ljg1MDEgNy4yNDk5OUw5LjI1MDEgMTcuODVDOS4xNTYyMSAxNy45NDQ3IDkuMDI4NDIgMTcuOTk3OSA4Ljg5NTEgMTcuOTk3OUM4Ljc2MTc4IDE3Ljk5NzkgOC42MzM5OCAxNy45NDQ3IDguNTQwMSAxNy44NUwzLjE1MDEgMTIuNDZDMy4wNTU0NCAxMi4zNjYxIDMuMDAyMiAxMi4yMzgzIDMuMDAyMiAxMi4xMDVDMy4wMDIyIDExLjk3MTcgMy4wNTU0NCAxMS44NDM5IDMuMTUwMSAxMS43NUwzLjg1MDEgMTEuMDVDMy45NDM5OCAxMC45NTUzIDQuMDcxNzggMTAuOTAyMSA0LjIwNTEgMTAuOTAyMUM0LjMzODQyIDEwLjkwMjEgNC40NjYyMSAxMC45NTUzIDQuNTYwMSAxMS4wNUw4Ljg5MDEgMTUuMzhMMTguNDQwMSA1LjgyOTk5QzE4LjYzNzkgNS42MzgyMSAxOC45NTIzIDUuNjM4MjEgMTkuMTUwMSA1LjgyOTk5TDE5Ljg1MDEgNi41Mzk5OUMxOS45NDQ4IDYuNjMzODggMTkuOTk4IDYuNzYxNjggMTkuOTk4IDYuODk0OTlDMTkuOTk4IDcuMDI4MzEgMTkuOTQ0OCA3LjE1NjExIDE5Ljg1MDEgNy4yNDk5OVoiIGZpbGw9IndoaXRlIi8+Cjwvc3ZnPgo=);
    @apply bg-no-repeat;
    @apply bg-center;
    background-size: calc(100% - 2px);
}

.fotorama__thumb-border {
    @apply rounded-lg;
    @apply border-secondary;
}

.fotorama__thumb {
    @apply rounded-lg;
}

.fotorama__arr--next {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMCAyMCIgd2lkdGg9IjIwIiBoZWlnaHQ9IjIwIj4KICA8cGF0aCBmaWxsPSIjMTMxNDE2IiBkPSJNMCAwIEwxNSAxMCBMMCAyMCBaIiAvPgo8L3N2Zz4=);
    background-position: center;
    background-position-x: center;
    background-position-y: center;
    background-size: 16px;
}

.fotorama__arr--prev {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMCAyMCIgd2lkdGg9IjIwIiBoZWlnaHQ9IjIwIiB0cmFuc2Zvcm09InNjYWxlKC0xLCAxKSI+CiAgPHBhdGggZmlsbD0iIzEzMTQxNiIgZD0iTTAgMCBMMTUgMTAgTDAgMjAgWiIgLz4KPC9zdmc+);
    background-position: center;
    background-position-x: center;
    background-position-y: center;
    background-size: 16px;
}

.text-heading-2xl,
.text-heading-xl,
.text-heading-l,
.text-heading-m,
.text-heading-s,
.text-heading-xs,
.text-heading-2xs,
.text-subheading-xl,
.text-subheading-l,
.text-subheading-m,
.text-subheading-s,
.text-subheading-xs {
    font-weight: 800;
}

.text-body-xl,
.text-body-l,
.text-body-m,
.text-body-s,
.text-body-xs {
    font-weight: 400;
}

.text-gray-80 {
    @apply text-gray-80;
}

.accordion-content {
    @apply h-0;
    @apply overflow-hidden;

    @apply transition-all;
    @apply duration-300;
    @apply ease-in-out;
}

.accordion-trigger {
    @apply relative;

    @apply transition-all;
    @apply duration-300;
    @apply ease-in-out;
}

.accordion-trigger::before {
    content: '';
    @apply block;
    @apply absolute;
    @apply bottom-0;
    @apply w-full;
    @apply h-1;
    @apply left-0;
    @apply pointer-events-none;
    @apply bg-gray-10;
}

.accordion-trigger::after {
    content: '';
    @apply block;
    @apply absolute;
    @apply bottom-0;
    @apply w-0;
    @apply h-1;
    @apply left-0;
    @apply pointer-events-none;
    @apply bg-black;

    @apply transition-all;
    @apply duration-300;
    @apply ease-in-out;
}

.accordion-trigger.active::after,
.accordion-trigger:hover::after {
    @apply w-full;
}

.active.accordion-trigger,
.accordion-trigger:hover {
    @apply text-black;
}

@screen md {
    .text-heading-2xl {
        @apply text-md-heading-2xl;
    }

    .text-heading-xl {
        @apply text-md-heading-xl;
    }

    .text-heading-l {
        @apply text-md-heading-l;
    }

    .text-heading-m {
        @apply text-md-heading-m;
    }

    .text-heading-s {
        @apply text-md-heading-s;
    }

    .text-heading-xs {
        @apply text-md-heading-xs;
    }

    .text-heading-2xs {
        @apply text-md-heading-2xs;
    }

    .text-subheading-xl {
        @apply text-md-subheading-xl;
    }

    .text-subheading-l {
        @apply text-md-subheading-l;
    }

    .text-subheading-m {
        @apply text-md-subheading-m;
    }

    .text-subheading-s {
        @apply text-md-subheading-s;
    }

    .text-subheading-xs {
        @apply text-md-subheading-xs;
    }

    .text-body-xl {
        @apply text-md-body-xl;
    }

    .text-body-l {
        @apply text-md-body-l;
    }

    .text-body-m {
        @apply text-md-body-m;
    }

    .text-body-s {
        @apply text-md-body-s;
    }

    .text-body-xs {
        @apply text-md-body-xs;
    }

    .wysiwyg-content h2 {
        @apply mb-8;
        @apply text-md-subheading-l;
        font-weight: 800;
    }

    .wysiwyg-content h3 {
        @apply mb-8;
        @apply text-md-subheading-m;
        font-weight: 800;
    }

    .wysiwyg-content a {
        @apply text-primary;
        @apply underline;
    }
}

.filter-bar--show-more {
    @apply text-primary;
    order: 9999;
}

.filter-bar--show-more::after {
    content: attr(data-show-more-text);
}

.active.filter-bar--show-more::after {
    content: attr(data-show-less-text);
}

.filter-bar--show-more~.filter-bar--attribute {
    @apply hidden;
}

.active.filter-bar--show-more~.filter-bar--attribute {
    @apply flex;
}

.mobile-navigation__header {
    @apply bg-gray-100;
    @apply p-6;
    @apply flex;
    @apply items-center;
    @apply gap-4;
    @apply sticky;
    @apply top-0;
    @apply z-10;

    @apply text-white;
    @apply text-subheading-xl;
}

.mobile-navigation__body {
    @apply mx-6;
    @apply mt-4;
}

.mobile-navigation__item {
    @apply border-b;
    @apply border-gray-40;
}

.mobile-navigation__item svg {
    @apply transition-all;
}

.mobile-navigation__item.active svg {
    transform: rotate(180deg);
}

.mobile-navigation__item__header {
    @apply py-10;
    @apply flex;
    @apply items-center;
    @apply justify-between;
    @apply text-heading-xs;
    @apply font-bold;
}

.mobile-navigation__item__header__icon {
    @apply relative;
}

.mobile-navigation__item__header__icon::after {
    content: '';
    @apply block;
    @apply absolute;
    right: -1.5rem;
    top: -1.5rem;
    left: -1.5rem;
    bottom: -1.5rem;
}

.mobile-navigation__item__content {
    @apply ml-6;
    @apply overflow-hidden;
    @apply transition-all;
}

.mobile-navigation__item__content__item:last-child {
    @apply mb-8;
}

.mobile-navigation__item__content__item__link {
    @apply block;
    @apply py-6;
    @apply text-subheading-xl;
    @apply font-bold;
}

.mobile-navigation__item__content__item__sublist a {
    @apply text-gray-100;
    @apply text-subheading-xl;
}

.mobile-navigation__footer {
    @apply p-6;
}

.mobile-navigation__footer li {
    @apply text-subheading-xl;
    @apply mt-4;
}

.mobile-navigation__footer__flags {
    @apply flex;
    @apply gap-4;
    @apply mt-20;
}

.mobile-navigation__footer__contact {
    @apply mt-20;
}

.mobile-navigation__footer__contact a {
    @apply flex;
    @apply gap-4;
    @apply mt-8;
    @apply text-gray-100;
    @apply text-subheading-l;
}

.section--thank-you .divider {
    @apply w-full;
    @apply h-[1px];
    @apply bg-gray-20;
}

.section--thank-you p {
    @apply text-body-l;
}

table {
    @apply border-collapse;
    @apply w-full;
    border-spacing: 0;
    border-collapse: separate;
    height: fit-content;
}

table thead {
    @apply text-subheading-l;
    @apply text-left;
    @apply bg-gray-10;
}

table th,
table td {
    @apply py-4;
    @apply px-6;
    @apply align-top;
}

table tbody {
    @apply text-body-l;
}

table tbody div {
    @apply text-primary;
}

table tbody small {
    @apply block;
    @apply text-body-s;
    @apply mt-1;
}

table tbody td:not(:first-child),
table tfoot td:not(:first-child) {
    @apply text-right;
}

table tfoot {
    @apply font-bold;
    @apply text-subheading-l;
}

table tfoot tr:last-child td {
    @apply border-b;
    @apply border-gray-20;
}

table tfoot tr:last-child td:first-child,
table:not(table:has(tfoot)) tr:last-child td:first-child {
    @apply border-l;
    @apply border-gray-20;
    @apply rounded-bl-lg;
}

table tfoot tr:last-child td:last-child,
table:not(table:has(tfoot)) tr:last-child td:last-child {
    @apply border-r;
    @apply rounded-br-lg;
}

table thead tr:first-child th:first-child {
    @apply border-t;
    @apply border-l;
    @apply border-gray-20;
    @apply rounded-tl-lg;
}

table thead tr:first-child th:last-child {
    @apply border-t;
    @apply border-r;
    @apply border-gray-20;
    @apply rounded-tr-lg;
}

table tbody td:first-child,
table tfoot td:first-child {
    @apply border-l;
    @apply border-gray-20;
}

table tbody td:last-child,
table tfoot td:last-child {
    @apply border-r;
    @apply border-gray-20;
}

table tbody tr td,
table tfoot tr:not(:last-child) td {
    @apply border-b;
    @apply border-gray-20;
}

.product-detail--swatches {
    @apply flex;
    @apply flex-col;
    @apply gap-10;
}

.product-detail--swatch {
    @apply flex;
    @apply flex-col;
    @apply gap-5;
}

.tippy-arrow {
    display: none;
}

.cookie-consent {
    @apply fixed;
    @apply bottom-0;
    @apply left-0;
    @apply right-0;
    @apply z-50;
    @apply bg-gray-80;
    @apply px-6;
    @apply py-4;
}

.cookie-consent__message {
    @apply text-body-s;
    @apply text-center;
    @apply text-white;
    @apply m-0;
}

.container--narrow {
    max-width: 610px;
}

.button.disabled, .btn.disabled {
    @apply cursor-not-allowed;
    @apply text-gray-20;
    @apply border-gray-10;
}

.attribute-block__values {
    @apply overflow-hidden;
    @apply transition-all;
}
.attribute-block.opened .attribute-block__values {
    @apply overflow-y-auto;
}

.attribute-block .attribute-block__title svg {
    transition: transform 0.3s ease;
}

.attribute-block.opened .attribute-block__title svg {
    transform: rotate(180deg);
}

.attribute-block__title {
    @apply cursor-pointer;
}

.variant {
    flex-shrink: 0;
    @apply text-body-l;
}

.navigation--cart-count {
    @apply w-6;
    @apply h-6;
    @apply absolute;
    @apply top-[-0.5rem];
    @apply right-[-0.5rem];
}

@screen md {
    .navigation--cart-count {
        @apply relative;
        @apply top-0;
        @apply right-0;
        @apply w-[20px];
        @apply h-[20px];
    }
}

#list.loading {
    @apply opacity-[.32];
    @apply pointer-events-none;
}

.category-list--item--image img {
    margin: 0 auto;
}

@screen -sm {
    .category-list--item {
        @apply p-4;
        @apply text-subheading-xs;
    }

    .promo-section p {
        @apply text-body-xs;
        line-height: 1.2;
    }
}

.search-form {
    gap: 2px;
    display: flex;
    align-items: center;
}

.search-form input {
    margin-bottom: 0;
    padding: 12px;
    border-radius: 4px;
    border: solid 1px black;
    width: min(368px, 80%);
}

.search-form button {
    @apply bg-primary;
    padding: 12px;
    border-radius: 4px;
}
